SwzReader/XSD/Dynamic/LevelDesc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="LevelDesc">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="BouncyHardCollision"/>
        <xs:element ref="HardCollision"/>
        <xs:element ref="ItemSpawn"/>
        <xs:element ref="NavNode"/>
        <xs:element ref="NoSlideCollision"/>
        <xs:element ref="Platform"/>
        <xs:element ref="PressurePlateCollision"/>
        <xs:element ref="Respawn"/>
        <xs:element ref="SoftCollision"/>
        <xs:element ref="AnimatedBackground"/>
        <xs:element ref="Background"/>
        <xs:element ref="BouncyNoSlideCollision"/>
        <xs:element ref="BouncySoftCollision"/>
        <xs:element ref="CameraBounds"/>
        <xs:element ref="DynamicCollision"/>
        <xs:element ref="DynamicItemSpawn"/>
        <xs:element ref="DynamicNavNode"/>
        <xs:element ref="DynamicRespawn"/>
        <xs:element ref="GameModeHardCollision"/>
        <xs:element ref="Goal"/>
        <xs:element ref="ItemInitSpawn"/>
        <xs:element ref="ItemSet"/>
        <xs:element ref="LevelAnim"/>
        <xs:element ref="LevelSound"/>
        <xs:element ref="MovingPlatform"/>
        <xs:element ref="SpawnBotBounds"/>
        <xs:element ref="TeamScoreboard"/>
        <xs:element ref="WaveData"/>
      </xs:choice>
      <xs:attribute name="AssetDir" use="required" type="xs:NCName"/>
      <xs:attribute name="LevelName" use="required" type="xs:NCName"/>
      <xs:attribute name="NumFrames" type="xs:integer"/>
      <xs:attribute name="SlowMult" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimatedBackground">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Gfx"/>
        <xs:element minOccurs="0" ref="Position"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="Scale"/>
          <xs:element ref="Skew"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Rotation"/>
        <xs:element minOccurs="0" ref="FrameOffset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gfx">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="AnimClass"/>
        <xs:element ref="AnimFile"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimClass" type="xs:NCName"/>
  <xs:element name="AnimFile" type="xs:NCName"/>
  <xs:element name="Position" type="xs:string"/>
  <xs:element name="Scale" type="xs:string"/>
  <xs:element name="Skew" type="xs:string"/>
  <xs:element name="Rotation" type="xs:decimal"/>
  <xs:element name="FrameOffset" type="xs:integer"/>
  <xs:element name="Background">
    <xs:complexType>
      <xs:attribute name="AssetName" use="required" type="xs:NCName"/>
      <xs:attribute name="H" use="required" type="xs:integer"/>
      <xs:attribute name="HasSkulls" type="xs:NCName"/>
      <xs:attribute name="W" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BouncyNoSlideCollision">
    <xs:complexType>
      <xs:attribute name="X" type="xs:integer"/>
      <xs:attribute name="X1" type="xs:integer"/>
      <xs:attribute name="X2" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
      <xs:attribute name="Y1" type="xs:integer"/>
      <xs:attribute name="Y2" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BouncySoftCollision">
    <xs:complexType>
      <xs:attribute name="X1" use="required" type="xs:integer"/>
      <xs:attribute name="X2" use="required" type="xs:integer"/>
      <xs:attribute name="Y1" use="required" type="xs:integer"/>
      <xs:attribute name="Y2" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CameraBounds">
    <xs:complexType>
      <xs:attribute name="H" use="required" type="xs:decimal"/>
      <xs:attribute name="W" use="required" type="xs:decimal"/>
      <xs:attribute name="X" use="required" type="xs:decimal"/>
      <xs:attribute name="Y" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynamicCollision">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="BouncyHardCollision"/>
          <xs:element ref="HardCollision"/>
          <xs:element ref="NoSlideCollision"/>
          <xs:element ref="PressurePlateCollision"/>
          <xs:element ref="SoftCollision"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="SoftPressurePlateCollision"/>
      </xs:sequence>
      <xs:attribute name="PlatID" use="required" type="xs:integer"/>
      <xs:attribute name="X" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoftPressurePlateCollision">
    <xs:complexType>
      <xs:attribute name="AnimOffsetX" use="required" type="xs:integer"/>
      <xs:attribute name="AnimOffsetY" use="required" type="xs:integer"/>
      <xs:attribute name="AssetName" use="required"/>
      <xs:attribute name="Cooldown" use="required" type="xs:integer"/>
      <xs:attribute name="FaceLeft" use="required" type="xs:boolean"/>
      <xs:attribute name="FireOffsetX" use="required" type="xs:integer"/>
      <xs:attribute name="FireOffsetY" use="required" type="xs:integer"/>
      <xs:attribute name="PlatID" use="required" type="xs:integer"/>
      <xs:attribute name="TrapPowers" use="required"/>
      <xs:attribute name="X1" use="required" type="xs:integer"/>
      <xs:attribute name="X2" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynamicItemSpawn">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ItemSpawn"/>
      </xs:sequence>
      <xs:attribute name="PlatID" use="required" type="xs:integer"/>
      <xs:attribute name="X" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynamicNavNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="NavNode"/>
      </xs:sequence>
      <xs:attribute name="PlatID" use="required" type="xs:integer"/>
      <xs:attribute name="X" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynamicRespawn">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Respawn"/>
      </xs:sequence>
      <xs:attribute name="PlatID" use="required" type="xs:integer"/>
      <xs:attribute name="X" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameModeHardCollision">
    <xs:complexType>
      <xs:attribute name="X" use="required" type="xs:integer"/>
      <xs:attribute name="Y1" use="required" type="xs:integer"/>
      <xs:attribute name="Y2" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Goal">
    <xs:complexType>
      <xs:attribute name="H" use="required" type="xs:integer"/>
      <xs:attribute name="Team" use="required" type="xs:integer"/>
      <xs:attribute name="W" use="required" type="xs:integer"/>
      <xs:attribute name="X" use="required" type="xs:decimal"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemInitSpawn">
    <xs:complexType>
      <xs:attribute name="H" type="xs:integer"/>
      <xs:attribute name="W" type="xs:integer"/>
      <xs:attribute name="X" use="required" type="xs:decimal"/>
      <xs:attribute name="Y" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemSet">
    <xs:complexType>
      <xs:attribute name="X" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevelAnim">
    <xs:complexType>
      <xs:attribute name="AssetName" use="required"/>
      <xs:attribute name="InstanceName" use="required" type="xs:NCName"/>
      <xs:attribute name="X" use="required" type="xs:decimal"/>
      <xs:attribute name="Y" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevelSound">
    <xs:complexType>
      <xs:attribute name="Delay" use="required" type="xs:integer"/>
      <xs:attribute name="Interval" use="required" type="xs:integer"/>
      <xs:attribute name="SoundEventName" use="required" type="xs:NCName"/>
      <xs:attribute name="SoundName" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovingPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Animation"/>
        <xs:element maxOccurs="unbounded" ref="Platform"/>
      </xs:sequence>
      <xs:attribute name="PlatID" use="required" type="xs:integer"/>
      <xs:attribute name="X" type="xs:decimal"/>
      <xs:attribute name="Y" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Animation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="KeyFrame"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Phase"/>
      </xs:sequence>
      <xs:attribute name="CenterX" type="xs:integer"/>
      <xs:attribute name="CenterY" type="xs:integer"/>
      <xs:attribute name="NumFrames" type="xs:integer"/>
      <xs:attribute name="SlowMult" type="xs:decimal"/>
      <xs:attribute name="StartFrame" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Phase">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="KeyFrame"/>
      </xs:sequence>
      <xs:attribute name="StartFrame" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpawnBotBounds">
    <xs:complexType>
      <xs:attribute name="H" use="required" type="xs:decimal"/>
      <xs:attribute name="W" use="required" type="xs:decimal"/>
      <xs:attribute name="X" use="required" type="xs:decimal"/>
      <xs:attribute name="Y" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamScoreboard">
    <xs:complexType>
      <xs:attribute name="BlueDigitFont" use="required" type="xs:NCName"/>
      <xs:attribute name="BlueTeamX" use="required" type="xs:integer"/>
      <xs:attribute name="DoubleDigitsOnesX" use="required" type="xs:integer"/>
      <xs:attribute name="DoubleDigitsScale" use="required" type="xs:decimal"/>
      <xs:attribute name="DoubleDigitsTensX" use="required" type="xs:integer"/>
      <xs:attribute name="DoubleDigitsY" use="required" type="xs:integer"/>
      <xs:attribute name="RedDigitFont" use="required"/>
      <xs:attribute name="RedTeamX" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaveData">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="CustomPath"/>
        <xs:element ref="Group"/>
      </xs:choice>
      <xs:attribute name="ID" use="required" type="xs:integer"/>
      <xs:attribute name="LoopIdx" type="xs:integer"/>
      <xs:attribute name="Speed" use="required" type="xs:decimal"/>
      <xs:attribute name="Speed3" type="xs:decimal"/>
      <xs:attribute name="Speed4" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Point"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Point">
    <xs:complexType>
      <xs:attribute name="X" use="required" type="xs:integer"/>
      <xs:attribute name="Y" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Group">
    <xs:complexType>
      <xs:attribute name="Behavior" type="xs:NCName"/>
      <xs:attribute name="Count" type="xs:integer"/>
      <xs:attribute name="Count3" type="xs:integer"/>
      <xs:attribute name="Count4" type="xs:integer"/>
      <xs:attribute name="DIR" type="xs:NCName"/>
      <xs:attribute name="Delay" type="xs:integer"/>
      <xs:attribute name="Delay3" type="xs:integer"/>
      <xs:attribute name="Delay4" type="xs:integer"/>
      <xs:attribute name="Dir" type="xs:NCName"/>
      <xs:attribute name="Path" type="xs:NMTOKEN"/>
      <xs:attribute name="Shared" type="xs:NCName"/>
      <xs:attribute name="SharedPath" type="xs:NCName"/>
      <xs:attribute name="Stagger" type="xs:integer"/>
      <xs:attribute name="Stagger3" type="xs:integer"/>
      <xs:attribute name="Stagger4" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HardCollision">
    <xs:complexType>
      <xs:attribute name="AnchorX" type="xs:decimal"/>
      <xs:attribute name="AnchorY" type="xs:decimal"/>
      <xs:attribute name="Flag" type="xs:NCName"/>
      <xs:attribute name="TauntEvent" type="xs:NCName"/>
      <xs:attribute name="Team" type="xs:integer"/>
      <xs:attribute name="X" type="xs:integer"/>
      <xs:attribute name="X1" type="xs:integer"/>
      <xs:attribute name="X2" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
      <xs:attribute name="Y1" type="xs:integer"/>
      <xs:attribute name="Y2" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Platform">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Platform"/>
        <xs:element ref="Asset"/>
      </xs:choice>
      <xs:attribute name="AssetName"/>
      <xs:attribute name="H" type="xs:decimal"/>
      <xs:attribute name="InstanceName" use="required" type="xs:NCName"/>
      <xs:attribute name="Rotation" type="xs:decimal"/>
      <xs:attribute name="Scale" type="xs:decimal"/>
      <xs:attribute name="ScaleX" type="xs:decimal"/>
      <xs:attribute name="ScaleY" type="xs:decimal"/>
      <xs:attribute name="ScoringType" type="xs:NCName"/>
      <xs:attribute name="Theme"/>
      <xs:attribute name="W" type="xs:decimal"/>
      <xs:attribute name="X" type="xs:decimal"/>
      <xs:attribute name="Y" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asset">
    <xs:complexType>
      <xs:attribute name="AssetName" use="required"/>
      <xs:attribute name="H" use="required" type="xs:decimal"/>
      <xs:attribute name="InstanceName" type="xs:NCName"/>
      <xs:attribute name="Rotation" type="xs:decimal"/>
      <xs:attribute name="W" use="required" type="xs:decimal"/>
      <xs:attribute name="X" type="xs:decimal"/>
      <xs:attribute name="Y" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoftCollision">
    <xs:complexType>
      <xs:attribute name="TauntEvent" type="xs:NCName"/>
      <xs:attribute name="Team" type="xs:integer"/>
      <xs:attribute name="X1" use="required" type="xs:integer"/>
      <xs:attribute name="X2" use="required" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
      <xs:attribute name="Y1" type="xs:integer"/>
      <xs:attribute name="Y2" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BouncyHardCollision">
    <xs:complexType>
      <xs:attribute name="NormalX" type="xs:integer"/>
      <xs:attribute name="X" type="xs:integer"/>
      <xs:attribute name="X1" type="xs:integer"/>
      <xs:attribute name="X2" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
      <xs:attribute name="Y1" type="xs:integer"/>
      <xs:attribute name="Y2" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoSlideCollision">
    <xs:complexType>
      <xs:attribute name="Team" type="xs:integer"/>
      <xs:attribute name="X" type="xs:integer"/>
      <xs:attribute name="X1" type="xs:integer"/>
      <xs:attribute name="X2" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
      <xs:attribute name="Y1" type="xs:integer"/>
      <xs:attribute name="Y2" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PressurePlateCollision">
    <xs:complexType>
      <xs:attribute name="AnimOffsetX" use="required" type="xs:integer"/>
      <xs:attribute name="AnimOffsetY" use="required" type="xs:integer"/>
      <xs:attribute name="AnimRotation" type="xs:integer"/>
      <xs:attribute name="AssetName" use="required" type="xs:NCName"/>
      <xs:attribute name="Cooldown" use="required" type="xs:integer"/>
      <xs:attribute name="FaceLeft" use="required" type="xs:NCName"/>
      <xs:attribute name="FireOffsetX" use="required" type="xs:integer"/>
      <xs:attribute name="FireOffsetY" use="required" type="xs:integer"/>
      <xs:attribute name="PlatID" type="xs:integer"/>
      <xs:attribute name="TrapPowers" use="required"/>
      <xs:attribute name="X" type="xs:integer"/>
      <xs:attribute name="X1" type="xs:integer"/>
      <xs:attribute name="X2" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
      <xs:attribute name="Y1" type="xs:integer"/>
      <xs:attribute name="Y2" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyFrame">
    <xs:complexType>
      <xs:attribute name="CenterX" type="xs:integer"/>
      <xs:attribute name="CenterY" type="xs:integer"/>
      <xs:attribute name="FrameNum" use="required" type="xs:integer"/>
      <xs:attribute name="X" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Respawn">
    <xs:complexType>
      <xs:attribute name="ExpandedInit" type="xs:boolean"/>
      <xs:attribute name="Initial" type="xs:NCName"/>
      <xs:attribute name="X" use="required" type="xs:decimal"/>
      <xs:attribute name="Y" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NavNode">
    <xs:complexType>
      <xs:attribute name="NavID" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Path" use="required"/>
      <xs:attribute name="X" type="xs:decimal"/>
      <xs:attribute name="Y" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemSpawn">
    <xs:complexType>
      <xs:attribute name="H" type="xs:decimal"/>
      <xs:attribute name="W" use="required" type="xs:decimal"/>
      <xs:attribute name="X" use="required" type="xs:decimal"/>
      <xs:attribute name="Y" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
