SwzReader/XSD/Game/MissionEventTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="MissionEventTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="MissionEventType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MissionEventType">
    <xs:complexType>
      <xs:attribute name="Event" use="required" type="xs:NCName"/>
      <xs:attribute name="ID" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
