SwzReader/XSD/Game/PastBattlePassRewardTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="PastBattlePassRewardTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PastBattlePassRewardType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PastBattlePassRewardType">
    <xs:complexType>
      <xs:attribute name="Item" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Season" use="required" type="xs:integer"/>
      <xs:attribute name="Type" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
