SwzReader/XSD/Game/SoundVolumes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="SoundVolumes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Volume"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Volume">
    <xs:complexType>
      <xs:attribute name="SoundName" use="required"/>
      <xs:attribute name="Volume" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
