SwzReader/XSD/Game/TooltipTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TooltipTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="TooltipType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TooltipType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Header"/>
        <xs:element ref="Text"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header" type="xs:string"/>
  <xs:element name="Text" type="xs:string"/>
</xs:schema>
