SwzReader/XSD/Engine/MasterFileList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="MasterFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="File"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="File">
    <xs:complexType>
      <xs:attribute name="ExcludedPlatforms"/>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Size" use="required" type="xs:integer"/>
      <xs:attribute name="Stage" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
